li{
    display:inline-block;
    list-style: none;
    padding:20px 40px;
    background:#222;
    color:white;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transition:box-shadow 1s;
    margin:10px 30px;
}
li:hover{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}